<h2>About This Page</h2>
<p>The page for my Github projects.</p>

<h2>Projects</h2>
<ul>
  <li><a href='https://github.com/claman/bibliography'>Bibliography</a> <i>(In development)</i></li> 
  <li><a href='https://github.com/claman/percival'>Percival</a> <i>(finished)</i></li>
  <li><a href='https://github.com/claman/critic-markup'>Critic Markup</a> <i>(Abandoned)</i></li>
</ul>

<!-- <hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul> -->
