<h2>About Me</h2>
<p>Experienced DevOps Engineer with a demonstrated history of working in the information technology and services industry. Skilled in Linux Operating System and Continuous Integration Tools & Techniques. Strong business development professional with a Bachelor’s Degree focused in Management Information Systems from University of Houston.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/jjscaria/">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/jjscaria">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:admin@jjscaria.com/">E-mail</a>
  </li>
</ul>
