<h2><u>About Me</u></h2>
<h3>I'm a developer. I make websites and video games.</h3>

<h2><u>Skills</u></h2>
<ul>
  <li>WebGL</li>
  <li>Javascript, CSS and HTML</li>
  <li>Ruby on Rails</li>
  <li>Java and C++</li>
</ul>

<p>I would love to know what I can do for you. Websites, Web Apps, Hosting, even mobile Apps. Check out my past projects and say hello!</p>


<!--<ul class="fa-ul main-list">-->
  <!--<li class="main-list-item">-->
    <!--<span class="fa fa-github fa-lg main-list-item-icon"></span>-->
    <!--<a href="https://github.com/excentris/compass">GitHub Repository</a>-->
  <!--</li>-->
  <!--<li class="main-list-item">-->
    <!--<span class="fa fa-user fa-lg main-list-item-icon"></span>-->
    <!--<a href="http://excentris.net">The Author</a>-->
  <!--</li>-->
<!--</ul>-->
