<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>

  <div class="contentDiv">
    {{ content }}
  </div>


  <canvas id="landingPageCanvas" style="border: 1px solid black"></canvas>

  <script src="{{ site.baseurl }}/js/Utils.js"></script>
  <script src="{{ site.baseurl }}/js/Animation.js"></script>
  <script src="{{ site.baseurl }}/js/Points.js"></script>
  <script src="{{ site.baseurl }}/js/landingPage.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="http://threejs.org/build/three.min.js"></script>
  </body>
</html>
